@model IEnumerable<NotificationEntity>

<button onclick="toggleDropDowns(this)" id="notification-dropdown-button" data-type="dropdown" data-target="#notification-dropdown" class="fa-solid fa-bell"></button>
<div class="dot-red @(Model.Any() ? "show":"")"><div class="dot-red-circle @(Model.Any() ? "show":"")" onclick="toggleNotificationDropdownFromRedBtn()"></div></div>


<div id="notification-dropdown" class="dropdown notification-dropdown">
    <div class="notification-header">
        <h5 class="notification-header-text">Notifications</h5>
        <span class="notification-number" onclick="dismissAllNotifications('@User.FindFirst(ClaimTypes.NameIdentifier)?.Value')">@Model.Count()</span>
    </div>
    <div class="dropdown-divider"></div>
    <div class="notifications">

        @foreach(var notification in Model)
        {
            <div class="notification-item" data-id="@notification.Id">
                <img class="image" src="@notification.Image" />
                <div class="message">@notification.Message</div>
                <div class="notification-time" data-created="@notification.Created.ToString("s")">@notification.Created</div>
                <button class="btn-close" onclick="dismissNotification('@notification.Id')">&#10006;</button>
            </div>
        }
    </div>
</div>

<script>
    function toggleNotificationDropdownFromRedBtn(){
        const userDropDown = document.querySelector('#user-dropdown');
        const notificationdropDown = document.querySelector('#notification-dropdown');

        userDropDown.classList.remove('show');
        notificationdropDown.classList.toggle('show');
    }
</script>