<nav class="nav-menu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <div class="navbar-header">
            <img class="header-logo" src="/images/Logo.svg" />
            <h1 class="header-title">alpha</h1>
        </div>
    </a>
    <div class="nav-links">
        <a class="" asp-controller="Home" asp-action="Projects">
            <div class="nav-link-container">
                <span class="nav-link-text @(Context.Request.Path == "/projects" ? "active" : "")">
                    <i class="fa-solid fa-briefcase"></i>
                    Projects
                </span>
            </div>
        </a>

        <a class="" asp-controller="Home" asp-action="Clients">
            <div class="nav-link-container">
                <span class="nav-link-text @(Context.Request.Path == "/clients" ? "active" : "")">
                    <i class="fa-solid fa-users"></i>
                    Clients
                </span>
            </div>
        </a>

        @if (User.IsInRole("Admin"))
        {
            <a class="" asp-controller="Admin" asp-action="Members">
                <div class="nav-link-container">
                    <span class="nav-link-text @(Context.Request.Path == "/members" ? "active" : "")">
                        <i class="fa-solid fa-user-tie"></i>
                        Team Members
                    </span>
                </div>
            </a>

            <a class="" asp-controller="Admin" asp-action="Status">
                <div class="nav-link-container">
                    <span class="nav-link-text @(Context.Request.Path == "/status" ? "active" : "")">
                        <i class="fa-solid fa-list"></i>
                        Status
                    </span>
                </div>
            </a>
        }
    </div>

    <div class="trademark">
        <div class="">
            <div class="btn-admin-secret" onclick="openAdminPanel()">&#10094;</div>
            @if (User.IsInRole("Admin"))
            {
                <div class="home-page-test-panel">
                    <h6 class="home-page-test-panel-header">Hasses menu</h6>
                    <p class="home-page-test-panel-header">Notifications</p>
                    <div class="home-page-test-panel-btns">
                        <button class="btn btn-admin-panel" onclick="test()">Send notification</button>
                        <button class="btn btn-admin-panel" onclick="testadmin()">Send admin notification</button>
                    </div>
                    <p>Member Controls</p>
                    <form asp-controller="Admin" asp-action="ConvertToMember" asp-route-userName="@User.Identity!.Name" method="post">
                        <button type="submit" class="btn btn-admin-panel">Make admin -> member</button>
                    </form>
                </div>
            }
            else
            {
                <div class="home-page-test-panel">
                    <h6 class="home-page-test-panel-header">Hasses menu</h6>
                    <p>Member Controls</p>
                    <form asp-controller="Admin" asp-action="ConvertToAdmin" asp-route-userName="@User.Identity!.Name" method="post">
                        <button type="submit" class="btn btn-admin-panel">Make member -> admin</button>
                    </form>
                </div>
            }
        </div>
        

        <p>© 2025 DBP Develop</p>
    </div>
</nav>

<script>
    function openAdminPanel(){
        const button = document.querySelector('.btn-admin-secret');
        button.classList.toggle('isOpen');

        const element = document.querySelector('.home-page-test-panel');
        element.classList.toggle('show-test-panel');
    }

    async function test(){
        try {
        const res = await fetch(`api/notifications/sendtest`, {
            method: 'POST'
        });
        if (res.ok) {
            console.log(`Test notifcation received`);
            return true
        } else {
            return false
        }
    }
    catch (error) {
        console.error(`Error when sending test notification: `, error);
        }
    }


    async function testadmin(){
        try {
        const res = await fetch(`api/notifications/sendadmintest`, {
            method: 'POST'
        });
        if (res.ok) {
            console.log(`Admin test notification received`);
            return true
        } else {
            return false
        }
    }
    catch (error) {
        console.error(`Error when sending testadmin notification: `, error);
        }
    }
</script>