@model MemberModel

<div class="member-card-continer">
    <div class="member-card" onclick="toggleSize(this)">
        <form asp-action="UpdateTeamMember" method="post" enctype="multipart/form-data" asp-antiforgery="true" novalidate>
            <input hidden asp-for="@Model.Id" />
            <button class="member-btn-edit" type="submit">&deg;&deg;</button>
        </form>

        <img class="member-image" src="@Model.ImageUrl">

        <h4 class="member-name">@Model.FullName</h4>

        <div class="member-role">
            <p class="member-role-text">@Model.Title</p>
        </div>

        <div class="member-info">
            <p>@Model.Email</p>
            <p>@Model.Phone</p>
        </div>

        <button class="btn btn-gray">Message</button>
    </div>

    <div class="member-card-large" onclick="toggleSize()">
        <form asp-action="UpdateTeamMember" method="post" enctype="multipart/form-data" asp-antiforgery="true" novalidate>
            <input hidden asp-for="@Model.Id" />
            <button class="member-btn-edit" type="submit">&deg;&deg;</button>
        </form>

        <div class="member-card-left-container">
            <img class="member-image" src="@Model.ImageUrl">

            <h4 class="member-name">@Model.FullName</h4>

            <div class="member-role">
                <p class="member-role-text">@Model.Title</p>
            </div>
        </div>

        <div class="member-card-right-container">
            <div class="member-info">
                <h6>Address</h6>
                <p>@Model.Address.Street</p>
                <p>@Model.Address.ZipCode @Model.Address.City</p>
                <p>@Model.Address.Country</p>

                <h6>Contact</h6>
                <p>Email: <span>@Model.Email</span></p>
                <p>Phone: <span>@Model.Phone</span></p>

                <h6>Info</h6>
                <p>Birthdate: <span>@Model.BirthDate</span></p>
                <p>Date added: <span>@Model.DateCreated</span></p>
                <p>Date updated: <span>@Model.DateUpdated</span></p>
            </div>
        </div>

        <button id="member-card-message-btn" class="btn btn-gray">Message</button>
    </div>
</div>


<script>
    // Toogle the expanded class for the class member-card-continer
    function toggleSize(e) {
        // Remove the expanded class from all member-card-continer
        var membercardContiners = document.querySelectorAll('.member-card-continer')
        membercardContiners.forEach(
            (container)=>{container.classList.remove('expanded');}
        );

        // Add the expanded class to the clicked member-card-continer
        var memberCardContainer = e.closest('.member-card-continer');
        memberCardContainer.classList.toggle('expanded');
    }
</script>