@model MemberModel

<div class="member-card">

    <button class="member-btn-edit">&deg;&deg;</button>

    <img class="member-image" src="@Model.ImageUrl">

    <h4>@Model.FullName</h4>

    <div class="member-role">
        <p class="member-role-text">@Model.Title</p>
    </div>

    <div class="member-info">
        <p>@Model.Email</p>
        <p>@Model.Phone</p>
    </div>

    <button class="btn btn-gray">Message</button>

</div>